{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="content-section text-center">
  <form class="form-signin" method="POST" action="">
    {{ form.hidden_tag() }}
    <Fieldset class="form-group">
      <img class="mb-4" src="/static/cute-sticky-notes-cartoon-wearing-a-mask-free-vector.jpg" alt="" width="72" height="72">
      <legend class="h3 mb-3 font-weight-normal">Please Login</legend>

      <div class="form-group">
        {{ form.email.label(class="form-control-label") }}
        
        {% if form.email.errors %}
          {{ form.email(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.email(class="form-control form-control-lg") }}
        {% endif %}
        
      </div>

      <div class="form-group">
        {{ form.password.label(class="form-control-label") }}
        
        {% if form.password.errors %}
          {{ form.password(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.password(class="form-control form-control-lg") }}
        {% endif %}
        
      </div>

      <div class="checkbox mb-3">
        {{ form.remember(class="form-check-input") }}
        {{ form.remember.label(class="form-check-label") }}
      </div>

    </Fieldset>

    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info mt-1 mb-1") }}
    </div>
  </form>
</div>




<div class="border-top pt-3">
  <small class="text-muted">
    Don't Have An Account? <a class="ml-2" href="{{ url_for('register') }}">Register!</a>
  </small>
</div>


{% endblock %}