{% extends "layout.html" %}

{% block title %}Account settings{% endblock %}

{% block content %}

<main role="main" class="container text-center">
  <h1>My Account</h1>

  <form method="POST" action="">
    <Fieldset class="form-group">
      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <div class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Change Username:</strong>

              <div class="form-group">
                {{ form.username.label(class="form-control-label") }}

                {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.username.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
              </div>

            </div>
          </div>
        </div>

        <div class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Change Email:</strong>

              <div class="form-group">
                {{ form.email.label(class="form-control-label") }}

                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
              </div>

            </div>
          </div>
        </div>

        <div class="media text-muted pt-3">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">Change Password</strong>

              <div class="form-group">
                {{ form.old_password.label(class="form-control-label") }}

                {% if form.old_password.errors %}
                {{ form.old_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.old_password.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.old_password(class="form-control form-control-lg") }}
                {% endif %}
              </div>

              <div class="form-group">
                {{ form.password.label(class="form-control-label") }}

                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
              </div>

              <div class="form-group">
                {{ form.confirm_password.label(class="form-control-label") }}

                {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.confirm_password.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.confirm_password(class="form-control form-control-lg") }}
                {% endif %}
              </div>

            </div>
          </div>
        </div>
    </Fieldset>
    <div class="form-group">
      {{ form.submit(class="btn btn-success") }}
    </div>
  </form>

  <small class="d-block text-right mt-3 mb-3">
    <a href="#" data-bs-toggle="modal" data-bs-target="#accountDelete">Delete Account</a>

    <!-- Modal -->
    <div class="modal fade" id="accountDelete" tabindex="-1" aria-labelledby="accountDeleteLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="accountDeleteLabel">Are you sure?!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img class="mb-4" src="/static/the-dead-sticky-notes-mascot-character-free-vector.png" alt="" width="72" height="72">
            <p>Once you delete all account items, lists and account information will be deleted...</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a type="button" class="btn btn-danger" href="{{ url_for('delete_account') }}">I Am Sure</a>
          </div>
        </div>
      </div>
    </div>

  </small>
  </div>
</main>

{% endblock %}