{% extends "layout.html" %}

{% block title %}My Lists{% endblock %}

{% block content %}

<h1 class="border-bottom border-gray pb-2 mb-0">My Lists</h1>

{{ session['userid'] }}
{{ cursor.execute("SELECT * FROM lists WHERE list_owner = '{0}';".format(form.email.data))
check_return = cursor.fetchone() }}

{{for i in x }}

<div class="my-3 p-3 bg-white rounded shadow-sm">
  <div class="media text-muted pt-3">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">name of the post</strong>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
      condimentum nibh, ut fermentum massa justo sit amet risus.
      <button type="button" class="btn btn-secondary">Secondary</button>
    </p>
  </div>
</div>

{% endblock %}