{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block content %}

<main>
  <div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Mr Listy!</h1>
        <p class="col-md-8 fs-4">Got a memory like a fish? Got a lot going on in life and can't remember everything?! Or you got a memory like a fish? Don't struggle with remember, Mr Listy will help you make a list out of it!</p>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Save The Trees!!!</h2>
          <p>Unlike some note taking products, Mr Listy doesn't murder the tree's! lets save paper and let Mr Listy do the hard work.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>It's A Cool Webapp</h2>
          <p>Unlike more functional and well designed note-taking apps, Mr Listy is independent, home-made and demonstrates CRUD functionality in a cute and pretty visually pleasing experience.</p>
        </div>
      </div>
    </div>

  </div>
</main>

{% endblock %}